<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="stylesheet" href="/static_files/player_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="background" id="background" style="background-image: url({{ album_cover }})"></div>
    <div class="foreground">
        <h1>Currently playing:</h1>
        <div class="container">
            <img src="" id="album-cover" alt="Album Cover">
            <span class="media-buttons" id="media-buttons">
                <a href="/previous"><div class="media_text"><i class="fa fa-step-backward"></i></div></a>
                <a href="/play_pause"><div class="media_text"><i class="fa fa-play"></i><i class="fa fa-pause"></i></div></a>
                <a href="/skip"><div class="media_text"><i class="fa fa-step-forward"></i></div></a>
            </span>
            <div class="progress-bar" id="progress-bar"></div>
        </div>
    </div>
    <script src="/static_files/player.js"></script>
</body>
</html>